/* soft reset css */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: #1E1E1E;
/* background-image: "../; */
  background-size: auto 100vh; 
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  height: 100vh;
}

/* se a tela tiver 400px vai carregar este estilo*/
/* breakponint */
@media(min-width: 400px){
body {
    font-size: 12px;
}
}

header{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.perfil-foto{
  margin-left: 330px;
  clip-path: circle(50% at 50% 50%);
  max-height: 198px;
}

.menu{
  background-color: #00B7FF;
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
  font-size: 1.7em;
}

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: color 1s, text-shadow 2s;
}

.menu a:active,
.menu a:hover {
  color: #BB67C9;
  text-shadow: 0px 0px 50px #BB00C9;
}

a{
  color: #D6D8DB;
  text-decoration: none;
}

.site-subtitle,
.site-title {
  text-align: center;
  line-height: 1.8em;
}

.site-title{
  color:#BB67C9;
  /* color:  #BB00C9; */
  font-family: 'Bad Script', cursive;
  font-size: 10em;
}


.site-subtitle{
  color: #00B7FF;
  font-family: 'Comfortaa', cursive;
  font-style: italic;
  font-size: 2.7em;
}
 
.contatos-caixa,
.apresentacao,
.contato, 
.portfolio {
  padding: 5em;
  margin-left: auto;
  margin-right: auto;
}

.contatos-caixa h2,
.apresentacao h2,
.contato h2, 
.portfolio h2 {
  color: #00B7FF;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 1em;
  font-size: 4.5em;
}

.apresentacao p{
 text-indent: 1em;
 background-color: #D6D8DB;
 border: solid 0.1em #00B7FF;
 box-shadow: 0 7px 27px -14px #D6D8DB;
 color: #1E1E1E;
 border-radius: 40px;
 display: flex;
 flex-direction: column;
 font-size: 1.6em;
 padding:2em;
 margin-right: 24em;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
}

/* .apresentacao .avatar{
  float: left;
} */

.portfolio h2 {
  margin-bottom: 1.7em;
}

.portfolio .grid{
  display: grid;
  gap: 1.6em;
}


@media (min-width: 880px){
  .portfolio .grid{
    align-content: center;
    grid-template-columns: repeat(3,320px);
    /* justify-content: center; */
    text-align-last: end;
    height: calc(100vh - 34em - 60px - 11em); 
  }
}

/* .portfolio figure {
  font-size: 1.2em;
  color: whitesmoke;
  text-align: center;
} */

.portfolio-icons {
  height: auto;
  width: 100%;
  object-fit: cover; 
}

/* .img-portfolio a:hover {
  color: #BB67C9;
  transition: text-shadow 1s;
}

.img-portfolio a:hover {
  text-shadow: 0px 0px 20px #bb00c9;
} */

@media (min-width: 1200px){
  .portfolio-iconso{
    height: auto;
    width: 100%;
  }
}

/* .img-portifolio:hover{
  transform: scale(0.8);
  rotate(3deg)
} */


/* .flip-card{
  perspective: 500px;
}

.card {
position: relative;
transform-style: preserve-3d;
transition: transform 1s;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;

} */

.card-back{
  color: #BB67C9;
  font-size: 1em;
  /* text-shadow: 0px 0px 30px #005DFF; */
}

.contato .icone{
  text-align: center;
}

.contato-container {
  background-color: #D6D8DB;
  border: solid 0.1em #00B7FF;
  box-shadow: 0 7px 27px -14px #D6D8DB;
  color: #1E1E1E;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  padding:2em;
  margin-right: 68em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.contatos-aqui {
  font-size: 1.5em;
  margin-bottom: 1;
}

.contato-link-whatsapp,
.contato-email,
.contatos-aqui {
  margin-bottom: 0.5em;
}

.contato-link-whatsapp {
  margin-top: 1.5em;
}

.contato-container a {
  color: #1E1E1E;
  font-size: 1em;
  margin-right: 0.3em;
  transition: text-shadow 1s;
}

.contato-container p {
  font-size: 1em;
  }
  
  .contato-email, .contato-link-whatsapp  {
  font-weight: 600;
  }

.contato-container a:active,
.contato-container a:hover {
  text-shadow: 0px 0px 15px #8dd6ec;
}

.portfolio-icons a {
  color: #BB67C9;
  font-size: 5.6em;
  margin-right: 0.3em;
  transition: text-shadow 1s;
}

.portfolio-icons a:active,
.portfolio-icons a:hover {
  text-shadow: 0px 0px 20px #bb00c9;
}